.git
.dvc/cache
.pytest_cache
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
.Python
cyber_guard
logs
mlruns
notebook
gx
data
CyberGuard_Url_Detection.egg-info

artifacts/*
!artifacts/preprocessing.pkl
!artifacts/metrics.json

*.log
